.card-pokemon {
    padding: 20px;
    margin: 10px;
    border: solid 5px black;
    border-radius: 10px ;
    background-color: rgb(35, 137, 162);
}

.card img{
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	width: 230px;
	height: 200px;
}