.landing {
    display: flex;
    justify-content: space-around;
    background-color: red;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border: solid black 5px;
    border-left: none;
    border-right: none;
}

.landing img {
    height: 100px;
    width: 300px;
}